<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.abstratt.mdd.target.core.targetPlatform" id="jse" name="JavaSE Platform">
         <mapper artifactType="systemClass"
               class="com.abstratt.mdd.target.jse.SystemMapper"/>
         <mapper artifactType="entity"
               class="com.abstratt.mdd.target.jse.EntityMapper"/>
         <mapper artifactType="repository"
               class="com.abstratt.mdd.target.jse.FunctionalTestMapper"/>
         <mapper artifactType="application"
               class="com.abstratt.mdd.target.jse.ApplicationMapper"/>               
   </extension>
</plugin>
