<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.6"?>
<target name="Kirra Dependencies" sequenceNumber="4">
    <locations>
        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.platform.feature.group" version="0.0.0" />
            <unit id="org.junit" version="0.0.0" />
            <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0" />
            <unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0" />
            <unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0" />
            <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0" />
            <!-- Specific release to avoid Eclipse bug 430375 -->
            <repository location="http://download.eclipse.org/releases/mars/201602261000/" />
        </location>
        <location includeAllPlatforms="false" includeMode="planner"
            includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.xtext.xbase.lib" version="0.0.0" />
            <unit id="org.eclipse.xtend.lib" version="0.0.0" />
            <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.11.0/" />
        </location>
        
        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.apache.commons.lang" version="0.0.0" />
            <unit id="org.apache.commons.lang3" version="0.0.0" />
            <unit id="org.apache.commons.io" version="0.0.0" />
            <unit id="org.apache.commons.beanutils" version="0.0.0" />
            <unit id="org.apache.commons.fileupload" version="0.0.0" />
            <unit id="org.apache.commons.collections" version="0.0.0" />
            <unit id="org.apache.commons.httpclient" version="0.0.0" />
            <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/" />
        </location>
        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.restlet" version="0.0.0" />
            <unit id="org.restlet.ext.servlet" version="0.0.0" />
            <unit id="org.restlet.ext.xml" version="0.0.0" />
            <unit id="org.restlet.ext.fileupload" version="0.0.0" />
            <unit id="org.restlet.ext.crypto" version="0.0.0" />
            <unit id="org.restlet.ext.jaxrs" version="0.0.0" />
            <unit id="org.restlet.ext.jackson" version="0.0.0" />
            <!-- piggybacking on Restlet's repo while we can for these. -->
            <unit id="javax.ws.rs.jsr311-api" version="0.0.0" />
            <unit id="com.google.gson" version="0.0.0" />
            <unit id="com.fasterxml.jackson.core.jackson-annotations" version="0.0.0" />
            <unit id="com.fasterxml.jackson.core.jackson-core" version="0.0.0" />
            <unit id="com.fasterxml.jackson.core.jackson-databind" version="0.0.0" />
            <repository location="http://p2.restlet.com/2.2/" />
        </location>
        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.jetty.client" version="0.0.0" />
            <unit id="org.eclipse.jetty.continuation" version="0.0.0" />
            <unit id="org.eclipse.jetty.http" version="0.0.0" />
            <unit id="org.eclipse.jetty.io" version="0.0.0" />
            <unit id="org.eclipse.jetty.server" version="0.0.0" />
            <unit id="org.eclipse.jetty.servlet" version="0.0.0" />
            <unit id="org.eclipse.jetty.servlets" version="0.0.0" />
            <unit id="org.eclipse.jetty.server" version="0.0.0" />
            <unit id="org.eclipse.jetty.util" version="0.0.0" />
            <unit id="org.eclipse.jetty.security" version="0.0.0" />
            <repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-8.x/8.1.14.v20131031" />
        </location>
        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.codehaus.groovy23.feature.feature.group" version="0.0.0" />
            <repository location="http://dist.springsource.com/release/TOOLS/update/3.6.1.RELEASE/e4.4/" />
        </location>
        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="com.abstratt.eclipsegraphviz.feature.feature.group" version="0.0.0" />
            <repository location="jar:http://repository-textuml.forge.cloudbees.com/snapshot/com/abstratt/eclipsegraphviz/com.abstratt.eclipsegraphviz.repository/2.2.201606/com.abstratt.eclipsegraphviz.repository-2.2.201606.zip!/" />
        </location>
        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="com.abstratt.mdd.frontend.core.feature.feature.group" version="0.0.0" />
            <unit id="com.abstratt.mdd.frontend.ui.feature.feature.group" version="0.0.0" />
            <unit id="com.abstratt.mdd.frontend.ui.diagram.feature.feature.group" version="0.0.0" />
            <unit id="com.abstratt.mdd.importer.jdbc.feature.feature.group" version="0.0.0" />
            <repository location="jar:http://repository-textuml.forge.cloudbees.com/snapshot/com/abstratt/mdd/com.abstratt.mdd.oss.repository/2.2/com.abstratt.mdd.oss.repository-2.2.zip!/" />
        </location>
        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="com.abstratt.mdd.tests.feature.source.feature.group" version="0.0.0" />
            <repository location="jar:http://repository-textuml.forge.cloudbees.com/snapshot/com/abstratt/mdd/com.abstratt.mdd.source.repository/2.2/com.abstratt.mdd.source.repository-2.2.zip!/" />
        </location>
        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="com.abstratt.kirra.feature.source.feature.group" version="0.0.0" />
            <repository location="jar:http://repository-textuml.forge.cloudbees.com/snapshot/com/abstratt/kirra/com.abstratt.kirra.repository/0.2.201601/com.abstratt.kirra.repository-0.2.201601.zip!/" />
        </location>
        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="com.abstratt.wrapped.postgresql" version="0.0.0" />
            <unit id="com.abstratt.wrapped.schemacrawler" version="0.0.0" />
            <repository location="jar:http://repository-textuml.forge.cloudbees.com/snapshot/com/abstratt/wrapped/com.abstratt.wrapped.repository/3.0/com.abstratt.wrapped.repository-3.0.zip!/" />
        </location>
    </locations>
</target>
