<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.abstratt.nodestore.factories">
      <factory
            class="com.abstratt.nodestore.jdbc.JDBCNodeStoreFactory"
            name="jdbc">
      </factory>
   </extension>
   
      <extension
         point="com.abstratt.resman.features">
      <feature
            provider="com.abstratt.nodestore.jdbc.JDBCNodeStoreProvider">
      </feature>
   </extension>
</plugin>
