<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.abstratt.mdd.target.core.transformationEngine">
       <engine
            id="gstring"
            class="com.abstratt.mdd.target.engine.gstring.GroovyTemplateEngine"/>
   </extension>
</plugin>
