<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/services/api"
            class="com.abstratt.kirra.mdd.rest.impl.v1.LegacyKirraRESTServlet">
      </servlet>
   </extension>
   <extension
         point="com.abstratt.resman.features">
      <feature
            provider="com.abstratt.kirra.mdd.rest.impl.v1.RESTExternalServiceProvider">
      </feature>
   </extension>
</plugin>
